body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  header, .intro, .skills, .contact {
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .intro img{
    width: 100px;
  }

.gitlink{
    text-decoration:  none;
    background-color: black;
    color: white;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

.gitlink:hover{
    background-color: blue;
    color: red;
}